<div style="text-align: center; background-color: #559cff; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Lab 02 - Introduction To Data Science @ FIT-HCMUS, VNU-HCM ðŸ“Œ
</div>

<div style="text-align: center; background-color: #b1d1ff; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Stage 02 - Preprocessing
</div>

## Import

In [1]:
import os
import sys

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

import numpy as np
import pandas as pd

# YOUR CODE HERE (OPTION) 
# If you need other libraries, you can import them here

## Exploring your data

### Read raw data from file (0.25 points)

In [2]:
# YOUR CODE HERE
studentID = 20120524
your_continent = "asia"
file_name = "_".join([str(studentID), str(your_continent)]) + ".csv"
raw_df = pd.read_csv(os.path.join("../data/raw", file_name))
# raise NotImplementedError()

In [3]:
# TEST
raw_df.head()

,Total Population,Female Population,Male Population,Birth Rate,Death Rate,Compulsory Education Dur.,Employment in Industry(%),Employment in Agriculture(%),Female Employment in Agriculture(%),Female Employment in Industry(%),...,Renewable Energy Consumption (%),Fossil Fuel Consumption (%),Male life expectancy,Female life expectancy,"School enrollment, primary","School enrollment, tertiary",Primary completion rate,Literacy rate,Year,Country
0,41128771.0,20362329.0,20766442.0,NaN,NaN,9.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,Afghanistan
1,40099462.0,19844584.0,20254878.0,35.842,7.344,9.0,NaN,NaN,NaN,NaN,...,17.86,NaN,58.915,65.279,NaN,NaN,NaN,55.929401,2021,Afghanistan
2,38972230.0,19279930.0,19692301.0,36.051,7.113,9.0,18.48131,45.98341,53.91368,26.41834,...,17.58,NaN,59.866,65.432,NaN,10.85844,NaN,NaN,2020,Afghanistan
3,37769499.0,18679089.0,19090409.0,36.466,6.791,9.0,18.33941,44.51263,59.36147,24.07933,...,18.51,NaN,60.619,66.677,110.007507,NaN,86.175522,NaN,2019,Afghanistan
4,36686784.0,18136922.0,18549862.0,36.927,6.981,9.0,18.12015,44.39712,63.66947,23.55313,...,17.96,NaN,59.923,66.458,107.780533,9.96379,88.735519,NaN,2018,Afghanistan

### How many rows and how many columns does the raw data have? (0.25 points)

Next, you calculate the number of rows and columns of the DataFrame `raw_df` and store it in the variable `shape` (tuple). **If your data has the number of rows smaller than 1000, please crawl the data once again with larger year interval**.

In [4]:
# YOUR CODE HERE
shape = raw_df.shape
shape
# raise NotImplementedError()

(1316, 26)

In [5]:
# TEST
print(f"Current shape: {shape}")

if shape[0] > 1000:
    print(f"Your data good!.")
else:
    print(f"Your raw data absolutely small. Please choose larger year interval.!")

Current shape: (1316, 26)
Your data good!.

### What does each line mean? Does it matter if the lines have different meanings?

**TODO**: Give your obervation here

- Má»—i dÃ²ng dá»¯ liá»‡u thá»ƒ hiá»‡n thÃ´ng sá»‘ nhÃ¢n kháº©u há»c vÃ  cÃ¡c sá»‘ liá»‡u thá»‘ng kÃª khÃ¡c liÃªn quan Ä‘áº¿n DÃ¢n sá»‘, Viá»‡c lÃ m, Y táº¿, GDP, TiÃªu thá»¥ nÄƒng lÆ°á»£ng,... cá»§a má»™t quá»‘c gia X vÃ o nÄƒm Y, vá»›i quá»‘c gia X lÃ  quá»‘c gia thuá»™c lá»¥c Ä‘á»‹a ChÃ¢u Ã vÃ  nÄƒm Y lÃ  nÄƒm trong khoáº£ng tá»« 1995 Ä‘áº¿n 2022
- Ã nghÄ©a cá»§a má»—i dÃ²ng phá»¥ thuá»™c Ä‘á»“ng thá»i vÃ o giÃ¡ trá»‹ cá»§a cá»™t quá»‘c gia vÃ  nÄƒm
- Náº¿u cÃ¡c dÃ²ng cÃ³ Ã½ nghÄ©a khÃ¡c nhau tá»©c lÃ  khÃ´ng cÃ³ cÃ¡c dÃ²ng nÃ o Ä‘á»“ng thá»i trÃ¹ng láº·p giÃ¡ trá»‹ á»Ÿ cá»™t quá»‘c gia vÃ  nÄƒm

### Does the raw data have duplicate rows? (0.25 points)

Next, you calculate the number of rows with duplicate indexes and store it in the variable `num_duplicated_rows`. In a group of lines with the same index, the first line is not counted as repeated.

In [6]:
# YOUR CODE HERE
num_duplicated_rows = raw_df.duplicated().sum()
# raise NotImplementedError()

In [7]:
# TEST
if num_duplicated_rows == 0:
    print(f"Your raw data have no duplicated line.!")
else:
    if num_duplicated_rows > 1:
        ext = "lines"
    else:
        ext = "line"
    print(f"Your raw data have {num_duplicated_rows} duplicated " + ext + ". Please de-deduplicate your raw data.!")

Your raw data have no duplicated line.!

In [8]:
# De-deduplicate your raw data
# YOUR CODE HERE (Optional)

### What does each column mean? (0.25Ä‘)

To see the meaning of each column:
- First, you need to read the file "assignment_schema.csv" into DataFrame `col_meaning_df`; you also need to make the "Query API" column an index column.
- Then, you just need to display the DataFrame `col_meaning_df` for viewing. You can use `pd.set_option` to customize the table width so that strings that are too long are not truncated.

In [9]:
# YOUR CODE HERE
col_meaning_df = pd.read_csv("../data/external/assignment_schema.csv")
col_meaning_df = col_meaning_df.set_index('Query API')
# raise NotImplementedError()

In [10]:
# TEST
col_meaning_df

                                                         Meaning
Query API
SP.POP.TOTL                                     Total Population
SP.POP.TOTL.FE.IN                              Female Population
SP.POP.TOTL.MA.IN                                Male Population
SP.DYN.CBRT.IN                                        Birth Rate
SP.DYN.CDRT.IN                                        Death Rate
SE.COM.DURS                             Compulsory Education Dur
SL.IND.EMPL.ZS                         Employment in Industry(%)
SL.AGR.EMPL.ZS                      Employment in Agriculture(%)
SL.AGR.EMPL.FE.ZS            Female Employment in Agriculture(%)
SL.IND.EMPL.FE.ZS               Female Employment in Industry(%)
SL.UEM.TOTL.ZS                                   Unemployment(%)
NY.GDP.MKTP.CD                                        GDP in USD
NY.ADJ.NNTY.PC.KD.ZG                  National Income per Capita
NY.GSR.NFCY.CD                            Net income from Abroad
NV.AGR.TOTL.CD                   Agriculture value added(in USD)
EG.USE.ELEC.KH.PC     Electric Power Consumption(kWH per capita)
EG.FEC.RNEW.ZS                  Renewable Energy Consumption (%)
EG.USE.COMM.FO.ZS                    Fossil Fuel Consumption (%)
SP.DYN.LE00.MA.IN                           Male life expectancy
SP.DYN.LE00.FE.IN                         Female life expectancy
SE.PRM.ENRR                         School enrollment in primary
SE.TER.ENRR                        School enrollment in tertiary
E.PRM.CMPT.ZS                            Primary completion rate
SE.ADT.1524.LT.ZS                                  Literacy rate

Before moving forward, you should read the results displayed above and make sure you understand the meaning of the columns. To understand the meaning of the column, you may need to look at the values of the DataFrame side column `raw_df`.

### What data type does each column currently have? Are there any columns whose data types are not suitable for further processing? (0.25 points)

Next, you calculate the data type (dtype) of each column in DataFrame `raw_df` and save the result into Series `dtypes` (This Series has the index as the column name).

In [11]:
# YOUR CODE HERE
dtypes = raw_df.dtypes
# raise NotImplementedError()

In [12]:
# TEST
dtypes

Total Population                              float64
Female Population                             float64
Male Population                               float64
Birth Rate                                    float64
Death Rate                                    float64
Compulsory Education Dur.                     float64
Employment in Industry(%)                     float64
Employment in Agriculture(%)                  float64
Female Employment in Agriculture(%)           float64
Female Employment in Industry(%)              float64
Unemployment(%)                               float64
GDP in USD                                    float64
National Income per Capita                    float64
Net income from Abroad                        float64
Agriculture value added(in USD)               float64
Electric Power Consumption(kWH per capita)    float64
Renewable Energy Consumption (%)              float64
Fossil Fuel Consumption (%)                   float64
Male life expectancy                          float64
Female life expectancy                        float64
School enrollment, primary                    float64
School enrollment, tertiary                   float64
Primary completion rate                       float64
Literacy rate                                 float64
Year                                            int64
Country                                        object
dtype: object

We observe that the column `Year` has numeric type. However, its magnitude does not have a significance. And, it actually represents a period instead of a number. Thus, it can be convert to categorical type.

In [13]:
# YOUR CODE HERE
raw_df["Year"] = raw_df["Year"].astype('str')
raw_df["Year"]
# raise NotImplementedError()

0       2022
1       2021
2       2020
3       2019
4       2018
        ...
1311    1999
1312    1998
1313    1997
1314    1996
1315    1995
Name: Year, Length: 1316, dtype: object

In [14]:
# TEST
dtypes = raw_df.dtypes
float_cols = set(dtypes[(dtypes==np.float32) | (dtypes==np.float64)].index)
assert len(float_cols) == 24
cate_cols, object_cols = set(dtypes[dtypes == pd.Categorical].index), set(dtypes[dtypes == object].index)
assert (len(cate_cols) == 2 and len(object_cols) == 2)

### For each column with numeric data type, how are the values distributed? (1Ä‘)

For columns with numeric data types, you will calculate:
- Percentage (from 0 to 100) of missing values
- The min
- The lower quartile (phÃ¢n vá»‹ 25)
- The median (phÃ¢n vá»‹ 50)
- The upper quartile (phÃ¢n vá»‹ 75)
- The max

You will save the results to a DataFrame `num_col_info_df`, where:
- The names of the columns are the names of the numeric columns in `raw_df`
- Names of rows: "missing_ratio", "min", "lower_quartile", "median", "upper_quartile", "max"  

For ease of viewing, you round all values to 1 decimal place using the `.round(1)` method.

In [15]:
# YOUR CODE HERE
def missing_ratio(column):
    return (column.isna().mean() * 100).round(1)

def lower_quartile(column):
    return column.quantile(0.25).round(1)

def median(column):
    result = float(round(column.median()))
    return result

def upper_quartile(column):
    return column.quantile(0.75).round(1)

num_col_info_df = raw_df.select_dtypes(exclude='object')

# raise NotImplementedError()
num_col_info_df = num_col_info_df.agg([missing_ratio, "min", lower_quartile, median, upper_quartile, "max"])
num_col_info_df.loc['min'] = np.float64(num_col_info_df.loc['min']).round(1)
num_col_info_df.loc['max'] = np.float64(num_col_info_df.loc['max']).round(1)
num_col_info_df

,Total Population,Female Population,Male Population,Birth Rate,Death Rate,Compulsory Education Dur.,Employment in Industry(%),Employment in Agriculture(%),Female Employment in Agriculture(%),Female Employment in Industry(%),...,Agriculture value added(in USD),Electric Power Consumption(kWH per capita),Renewable Energy Consumption (%),Fossil Fuel Consumption (%),Male life expectancy,Female life expectancy,"School enrollment, primary","School enrollment, tertiary",Primary completion rate,Literacy rate
missing_ratio,0.000000e+00,0.0,0.0,3.6,3.6,20.9,3.7,3.7,3.7,3.7,...,7.700000e+00,34.3,6.8,38.5,3.6,3.6,23.9,30.2,43.6,79.7
min,2.582080e+05,124951.0,133257.0,5.1,0.8,5.0,3.5,0.3,0.0,1.8,...,4.972527e+07,13.2,0.0,0.0,51.0,54.1,22.2,0.2,17.9,47.0
lower_quartile,4.382818e+06,2121473.0,2311564.5,15.1,4.8,8.0,16.2,6.1,3.1,7.8,...,8.504446e+08,723.3,1.0,63.6,64.4,70.1,96.7,14.8,90.2,94.6
median,1.822701e+07,9013542.0,9061772.0,20.0,6.0,9.0,21.0,29.0,30.0,12.0,...,3.638505e+09,1814.0,5.0,90.0,68.0,75.0,101.0,29.0,97.0,99.0
upper_quartile,6.135766e+07,30517285.0,30801407.8,24.6,7.6,10.0,25.8,45.4,52.2,16.2,...,2.134342e+10,5101.6,35.8,98.2,73.3,78.4,106.8,46.7,100.4,99.7
max,1.417173e+09,691528501.0,731180498.0,52.1,16.7,15.0,59.6,85.4,89.4,39.3,...,1.311311e+12,21230.1,94.4,100.0,83.1,87.7,150.4,125.8,134.5,100.0

In [16]:
# YOUR CODE HERE (Optional)
# You can use Matplotlib to visualize this table for more intuitive

In [17]:
# TEST
assert num_col_info_df["Total Population"]["missing_ratio"] == 0

In [18]:
dict(num_col_info_df.iloc[0])

{'Total Population': 0.0,
 'Female Population': 0.0,
 'Male Population': 0.0,
 'Birth Rate': 3.6,
 'Death Rate': 3.6,
 'Compulsory Education Dur.': 20.9,
 'Employment in Industry(%)': 3.7,
 'Employment in Agriculture(%)': 3.7,
 'Female Employment in Agriculture(%)': 3.7,
 'Female Employment in Industry(%)': 3.7,
 'Unemployment(%)': 0.4,
 'GDP in USD': 3.5,
 'National Income per Capita': 42.2,
 'Net income from Abroad': 7.4,
 'Agriculture value added(in USD)': 7.7,
 'Electric Power Consumption(kWH per capita)': 34.3,
 'Renewable Energy Consumption (%)': 6.8,
 'Fossil Fuel Consumption (%)': 38.5,
 'Male life expectancy': 3.6,
 'Female life expectancy ': 3.6,
 'School enrollment, primary': 23.9,
 'School enrollment, tertiary': 30.2,
 'Primary completion rate': 43.6,
 'Literacy rate': 79.7}

After identifying the basic statistical numbers that describe your data, we further need to determine the features that have a large number of missing values. Such features are not useful for the analysis stage and must be removed from the dataset.

Depending on your goals, the threshold for "large" can be defined. Usually, if the percentage of missing values is greater than 75%, the column is dropped from the dataframe and an updated dataframe is returned.

In [19]:
def drop_missing_features(df: pd.DataFrame, missing_lst: dict = dict(num_col_info_df.iloc[0]), threshold: float = 75.0) -> pd.DataFrame:
    """Drop missing features from Pandas dataframe base on given threshold.

    Args:
        df (pd.DataFrame): Input dataframe for processing.
        missing_lst (dict, optional): Dict missing value rate which calculated from previous stage. Defaults to dict(num_col_info_df.iloc[0]).
        threshold (float, optional): User threshold for dropping. Defaults to 75.0.

    Returns:
        pd.DataFrame: Updated dataframe
    """
    # YOUR CODE HERE
    for feature, missing_rate in missing_lst.items():
        if missing_rate > threshold:
            df = df.drop(columns=feature)
    
    return df
#     raise NotImplementedError()

In [20]:
# YOUR CODE HERE
raw_df = drop_missing_features(raw_df)
# raise NotImplementedError()

In [21]:
# TEST
raw_df.head()

,Total Population,Female Population,Male Population,Birth Rate,Death Rate,Compulsory Education Dur.,Employment in Industry(%),Employment in Agriculture(%),Female Employment in Agriculture(%),Female Employment in Industry(%),...,Electric Power Consumption(kWH per capita),Renewable Energy Consumption (%),Fossil Fuel Consumption (%),Male life expectancy,Female life expectancy,"School enrollment, primary","School enrollment, tertiary",Primary completion rate,Year,Country
0,41128771.0,20362329.0,20766442.0,NaN,NaN,9.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,Afghanistan
1,40099462.0,19844584.0,20254878.0,35.842,7.344,9.0,NaN,NaN,NaN,NaN,...,NaN,17.86,NaN,58.915,65.279,NaN,NaN,NaN,2021,Afghanistan
2,38972230.0,19279930.0,19692301.0,36.051,7.113,9.0,18.48131,45.98341,53.91368,26.41834,...,NaN,17.58,NaN,59.866,65.432,NaN,10.85844,NaN,2020,Afghanistan
3,37769499.0,18679089.0,19090409.0,36.466,6.791,9.0,18.33941,44.51263,59.36147,24.07933,...,NaN,18.51,NaN,60.619,66.677,110.007507,NaN,86.175522,2019,Afghanistan
4,36686784.0,18136922.0,18549862.0,36.927,6.981,9.0,18.12015,44.39712,63.66947,23.55313,...,NaN,17.96,NaN,59.923,66.458,107.780533,9.96379,88.735519,2018,Afghanistan

After remove features which have large missing values, our dataframe still have missing values. So that, we need to fill these missing values so that they can be used in analysis.

In [22]:
def filling_missing_value(df: pd.DataFrame) -> pd.DataFrame:
    """Filling missing features from Pandas dataframe
    
    The first, you need to replace all None values with NaN, fillna only works on nans.
    
    After that, you replace all NaN values with the mean of the column values.

    Args:
        df (pd.DataFrame): Input dataframe for processing.

    Returns:
        pd.DataFrame: Updated dataframe
    """
    # YOUR CODE HERE
    df = df.replace({None: np.NaN})
    non_object_cols = df.select_dtypes(exclude='object').columns
    df[non_object_cols] = df[non_object_cols].fillna(df[non_object_cols].mean())
    return df
#     raise NotImplementedError()

In [23]:
# YOUR CODE HERE
raw_df = filling_missing_value(raw_df)
# raise NotImplementedError()

In [24]:
# TEST
raw_df.head()

,Total Population,Female Population,Male Population,Birth Rate,Death Rate,Compulsory Education Dur.,Employment in Industry(%),Employment in Agriculture(%),Female Employment in Agriculture(%),Female Employment in Industry(%),...,Electric Power Consumption(kWH per capita),Renewable Energy Consumption (%),Fossil Fuel Consumption (%),Male life expectancy,Female life expectancy,"School enrollment, primary","School enrollment, tertiary",Primary completion rate,Year,Country
0,41128771.0,20362329.0,20766442.0,20.700378,6.343087,9.0,21.36864,28.950359,31.756573,12.92565,...,3671.529455,20.82783,78.362752,68.719252,74.080759,101.511461,33.217823,93.345172,2022,Afghanistan
1,40099462.0,19844584.0,20254878.0,35.842000,7.344000,9.0,21.36864,28.950359,31.756573,12.92565,...,3671.529455,17.86000,78.362752,58.915000,65.279000,101.511461,33.217823,93.345172,2021,Afghanistan
2,38972230.0,19279930.0,19692301.0,36.051000,7.113000,9.0,18.48131,45.983410,53.913680,26.41834,...,3671.529455,17.58000,78.362752,59.866000,65.432000,101.511461,10.858440,93.345172,2020,Afghanistan
3,37769499.0,18679089.0,19090409.0,36.466000,6.791000,9.0,18.33941,44.512630,59.361470,24.07933,...,3671.529455,18.51000,78.362752,60.619000,66.677000,110.007507,33.217823,86.175522,2019,Afghanistan
4,36686784.0,18136922.0,18549862.0,36.927000,6.981000,9.0,18.12015,44.397120,63.669470,23.55313,...,3671.529455,17.96000,78.362752,59.923000,66.458000,107.780533,9.963790,88.735519,2018,Afghanistan

In [25]:
# TEST
# raise NotImplementedError() # If you already implement needed functions, please comment this line.
raw_df.select_dtypes(exclude='object').agg([missing_ratio, "min", lower_quartile, median, upper_quartile, "max"])

,Total Population,Female Population,Male Population,Birth Rate,Death Rate,Compulsory Education Dur.,Employment in Industry(%),Employment in Agriculture(%),Female Employment in Agriculture(%),Female Employment in Industry(%),...,Net income from Abroad,Agriculture value added(in USD),Electric Power Consumption(kWH per capita),Renewable Energy Consumption (%),Fossil Fuel Consumption (%),Male life expectancy,Female life expectancy,"School enrollment, primary","School enrollment, tertiary",Primary completion rate
missing_ratio,0.000000e+00,0.0,0.0,0.000,0.000,0.0,0.000000,0.00000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000,0.00,0.0,0.000,0.000,0.000000,0.000000,0.000000
min,2.582080e+05,124951.0,133257.0,5.100,0.795,5.0,3.519346,0.32473,0.007847,1.773412,...,-1.928439e+11,4.972527e+07,13.187383,0.00,0.0,51.039,54.087,22.162991,0.212900,17.885321
lower_quartile,4.382818e+06,2121473.0,2311564.5,15.300,4.900,8.9,16.300000,6.60000,3.800000,8.000000,...,-2.680425e+09,1.006268e+09,1377.700000,1.20,78.4,64.600,70.300,97.900000,19.700000,93.300000
median,1.822701e+07,9013542.0,9061772.0,20.000,6.000,9.0,21.000000,29.00000,32.000000,12.000000,...,-2.856842e+08,4.952717e+09,3672.000000,7.00,78.0,69.000,74.000,102.000000,33.000000,93.000000
upper_quartile,6.135766e+07,30517285.0,30801407.8,24.300,7.500,9.0,25.500000,44.90000,51.100000,16.000000,...,2.271594e+07,3.033319e+10,3671.500000,33.10,95.3,73.100,78.300,104.800000,38.900000,97.600000
max,1.417173e+09,691528501.0,731180498.0,52.073,16.700,15.0,59.578700,85.41296,89.413740,39.333190,...,2.429854e+11,1.311311e+12,21230.075563,94.37,100.0,83.100,87.710,150.354233,125.763786,134.545609

### For each column with a non-numeric data type, how are the values distributed?(1Ä‘)

For columns with non-numeric data types, you calculate:
- Percentage (from 0 to 100) of missing values
- Number of values (the values here are different values and we do not consider missing values): with columns whose type is categorical, it is a set with a finite number of categories. Directly counting the number of values in these columns doesn't make much sense, so it's better to count the number of elements of all types. (Sá»‘ lÆ°á»£ng cÃ¡c giÃ¡ trá»‹ (cÃ¡c giÃ¡ trá»‹ á»Ÿ Ä‘Ã¢y lÃ  cÃ¡c giÃ¡ trá»‹ khÃ¡c nhau vÃ  ta khÃ´ng xÃ©t giÃ¡ trá»‹ thiáº¿u): vá»›i cá»™t mÃ  cÃ³ kiá»ƒu lÃ  categorical, nÃ³ lÃ  má»™t táº­p há»£p cÃ³ sá»‘ lÆ°á»£ng há»¯u háº¡n cÃ¡c loáº¡i. Viá»‡c Ä‘áº¿m trá»±c tiáº¿p sá»‘ lÆ°á»£ng cÃ¡c giÃ¡ trá»‹ trong nhá»¯ng cá»™t nÃ y khÃ´ng cÃ³ nhiá»u Ã½ nghÄ©a, nÃªn tá»‘t hÆ¡n háº¿t lÃ  mÃ  sáº½ Ä‘áº¿m sá»‘ lÆ°á»£ng pháº§n tá»­ cÃ¡c loáº¡i.)
- The percentage (from 0 to 100) of each value is sorted by decreasing percentage (we do not consider missing values, the ratio is the ratio compared to the number of non-missing values): you use a dictionary to store , key is the value, value is the percentage; With the column corresponding to each type, the method is similar to above.

You will save the results to DataFrame `cat_col_info_df`, where:
- The names of the columns are the names of the non-numeric columns in `raw_df`
- The names of the lines are: "missing_ratio", "num_values", "value_ratios"

For ease of viewing, you round all values to 1 decimal place using the `.round(1)` method.

Hint: you might want to use it [`explode` method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.explode.html).

In [26]:
pd.set_option('display.max_colwidth', 100) # For clearly
pd.set_option('display.max_columns', None) # For clearly

In [27]:
# YOUR CODE HERE
def num_values(column):
    return column.nunique()

def value_ratios(column):
    return dict((column.value_counts(normalize=True) * 100).round(1))

cat_col_info_df = raw_df.select_dtypes(include='object')

# raise NotImplementedError()

cat_col_info_df = cat_col_info_df.agg([missing_ratio, num_values, value_ratios])
cat_col_info_df

,Year,Country
missing_ratio,0.0,0.0
num_values,28,47
value_ratios,"{'2022': 3.6, '2021': 3.6, '1996': 3.6, '1997': 3.6, '1998': 3.6, '1999': 3.6, '2000': 3.6, '200...","{'Afghanistan': 2.1, 'Saudi Arabia': 2.1, 'Maldives': 2.1, 'Mongolia': 2.1, 'Myanmar': 2.1, 'Nep..."

In [28]:
# YOUR CODE HERE (Optional)
# You can use Matplotlib to visualize this table for more intuitive

### Is the collected data reasonable? (0.5 points)

ChÃºng ta cÃ³ má»™t tháº¯c máº¯c liá»‡u ráº±ng sá»‘ liá»‡u thu tháº­p Ä‘Æ°á»£c cÃ³ há»£p lÃ½ hay khÃ´ng? VÃ­ dá»¥ nhÆ° `Total Population` cÃ³ báº±ng tá»•ng cá»§a `Female Population` vÃ  `Male Population`?

In [29]:
def checking_population(df: pd.DataFrame) -> bool:
    """Checking for the reasonable of population information.

    Args:
        df (pd.DataFrame): _description_

    Returns:
        bool: _description_
    """
    # YOUR CODE HERE
    if (df['Total Population'] < 0).any():
        return False
    elif (df['Total Population'] != df['Female Population'] + df['Male Population']).any():
        return False
    else: return True
#     raise NotImplementedError()

In [30]:
# TEST
checking_population(raw_df) == True

False

If the test result is false, we want to see how large with this different? If it is true, please skip this step.

In [31]:
# YOUR CODE HERE
diff_df = pd.DataFrame()
diff_df["Female Population"] = raw_df["Female Population"]
diff_df["Male Population"] = raw_df["Male Population"]
diff_df["Female Population + Male Population"] = diff_df["Female Population"] + diff_df["Male Population"]
diff_df["Total Population"] = raw_df["Total Population"]
diff_df["Differences"] = diff_df["Total Population"] - diff_df["Female Population + Male Population"]
diff_df
# Differences is very small

,Female Population,Male Population,Female Population + Male Population,Total Population,Differences
0,20362329.0,20766442.0,41128771.0,41128771.0,0.0
1,19844584.0,20254878.0,40099462.0,40099462.0,0.0
2,19279930.0,19692301.0,38972231.0,38972230.0,-1.0
3,18679089.0,19090409.0,37769498.0,37769499.0,1.0
4,18136922.0,18549862.0,36686784.0,36686784.0,0.0
...,...,...,...,...,...
1311,8986445.0,9128106.0,18114551.0,18114552.0,1.0
1312,8739457.0,8868676.0,17608133.0,17608133.0,0.0
1313,8495862.0,8612819.0,17108681.0,17108681.0,0.0
1314,8254738.0,8359588.0,16614326.0,16614326.0,0.0
1315,8005372.0,8097967.0,16103339.0,16103339.0,0.0

Let's replace column `Female Population` with the result of difference of `Total Population` and `Male Population` or otherwise.

In [32]:
# YOUR CODE HERE
raw_df["Female Population"] = raw_df["Total Population"] - raw_df["Male Population"]

In [33]:
# TEST
checking_population(raw_df) == True

True

**Can you check more cases for the reasonable of raw data?**

In [34]:
# YOUR CODE HERE (Optional)

### Save your processed data (0.25 points)

In [35]:
print(f"Total number of features: {raw_df.shape[1]}")
raw_df.dtypes

Total number of features: 25

Total Population                              float64
Female Population                             float64
Male Population                               float64
Birth Rate                                    float64
Death Rate                                    float64
Compulsory Education Dur.                     float64
Employment in Industry(%)                     float64
Employment in Agriculture(%)                  float64
Female Employment in Agriculture(%)           float64
Female Employment in Industry(%)              float64
Unemployment(%)                               float64
GDP in USD                                    float64
National Income per Capita                    float64
Net income from Abroad                        float64
Agriculture value added(in USD)               float64
Electric Power Consumption(kWH per capita)    float64
Renewable Energy Consumption (%)              float64
Fossil Fuel Consumption (%)                   float64
Male life expectancy                          float64
Female life expectancy                        float64
School enrollment, primary                    float64
School enrollment, tertiary                   float64
Primary completion rate                       float64
Year                                           object
Country                                        object
dtype: object

In [36]:
# YOUR CODE HERE
# You can set the saved name in a pattern like, studentID_<your continent>_processed.csv
studentID = 20120524
your_continent = "asia"
save_name = "_".join([str(studentID), str(your_continent)]) + "_processed.csv"
raw_df.to_csv("../data/processed/" + save_name, index=False)

**Congrats, if you complete this notebook, you will get 4.00/10.00 :D**